@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@700&display=swap');

*{
    transition: background .3s;
}

body{
    overflow-x: hidden;
}
body.theme .main{
    background: rgb(253, 253, 253);
}
body.theme .logo{
    color: rgb(27, 27, 27);
    font-weight: bold;
}
body.theme .t{
    color: rgb(97, 97, 97);
}
body.theme .p{
    color: rgb(50, 50, 50);
}
body.theme .desc{
    color: #454444;
}
body.theme .bx{
    color: black;
    border-radius: 50%;
}
body.theme .bx:hover{
    background-color: purple;
    color: #f1f1f1;
    border-radius: 50%;
    padding: 3px;
    transition: .3s;
}
body.theme .bx-sun:nth-child(1){
    color: #212020;
    background-color: transparent;
    padding: 0;
}
.img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: .3s;
}
footer p{
}
h1,h2,h3,.btn{
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Roboto Mono', monospace;
}
p{
    font-family: 'Roboto Mono', monospace;  
}