@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@font-face {
  font-family: signature;
  src: url(../libs/font/signature.otf);
}
body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #576ee0;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto mono, monospace;
  width: 100vw;
  color: #f1f1f1;
  background: #161927;
  transition: background 0.3s;
}
body p {
  font-size: 15px;
  line-height: 30px;
}
body button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #576ee0;
  color: #f1f1f1;
  font-size: 16px;
}
body button:hover {
  cursor: pointer;
  filter: saturate(5);
}

.btn {
  background: #576ee0;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 50px;
  color: #ffffff;
}
.btn:hover {
  background: #4558b5;
  color: #f1f1f1;
  transition: 0.3s;
}

body.active {
  background: #f1f1f1;
  color: #161927;
}
body.active header nav .menu a, body.active header nav .menu .bx {
  color: #0f1322;
}
body.active header .head .left .social a, body.active header .head .left .social .bx {
  color: #161927;
}
body.active .hireBox .left h1 {
  color: rgba(255, 255, 255, 0.067);
}
body.active .hireBox .left p {
  color: #fff;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  color: #576ee0;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
#back-to-top .bx {
  font-size: 2em;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

header nav {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo h1 {
  font-size: 1.5em;
}
header nav .bx-menu {
  display: none;
  font-size: 2em;
  cursor: pointer;
}
header nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s;
}
header nav .menu .bx-x {
  display: none;
  color: #000;
  font-size: 2.5em;
  position: absolute;
  top: 3%;
  right: 5%;
  cursor: pointer;
}
header nav .menu a {
  text-decoration: none;
  margin-left: 10px;
  color: #f1f1f1;
}
header nav .menu .bxs-moon, header nav .menu .bx-sun {
  font-size: 1.3em;
  margin-left: 10px;
}
header .head {
  width: 100vw;
  min-height: 89vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .head .left {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .head .left .social {
  display: flex;
  flex-direction: column;
}
header .head .left .social a, header .head .left .social .bx {
  padding: 6px;
  font-size: 1.5em;
  text-decoration: none;
  color: #f1f1f1;
  cursor: pointer;
}
header .head .left .social a:hover, header .head .left .social .bx:hover {
  transition: 0.3s;
  scale: 1.2;
}
header .head .left .desc {
  margin-left: 30px;
}
header .head .left .desc h1 {
  margin-top: -10px;
  font-size: 3em;
}
header .head .left .desc h2 {
  font-size: 1.3em;
  margin-top: -20px;
}
header .head .left .desc h2 span {
  color: #576ee0;
}
header .head .left .desc h2 .caret {
  color: gray;
  -webkit-animation: caret 0.5s infinite;
          animation: caret 0.5s infinite;
}
header .head .left .desc p {
  width: 400px;
  margin-top: 20px;
  padding-bottom: 40px;
}
header .head .right {
  width: 30%;
  height: 500px;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background: #576ee0;
  overflow: hidden;
}
header .head .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 100px;
}
header .head .scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  font-size: 1.5em;
  font-weight: 400;
  -webkit-animation: scroll-anim 4s ease infinite;
          animation: scroll-anim 4s ease infinite;
  opacity: 0.5;
}

section.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}
section.about h1 {
  font-size: 2em;
}
section.about h2 {
  font-weight: 400;
  color: #576ee0;
}
section.about p {
  width: 80%;
}
section.about .about-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  gap: 30px;
}
section.about .about-stats .stat {
  text-align: center;
}
section.about .about-stats .stat p {
  margin-top: -20px;
}

section.techs {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.techs .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.techs .desc h1 {
  text-align: center;
  font-size: 2em;
}
section.techs .desc p {
  margin-top: 40px;
  width: 80%;
}
section.techs .techs-icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  gap: 20px;
  justify-content: center;
  width: 80%;
  margin-top: 40px;
}
section.techs .techs-icon .bx {
  font-size: 3em;
  cursor: pointer;
}
section.techs .education {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.techs .education h1 {
  text-align: center;
  font-size: 2em;
}
section.techs .education .courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section.techs .education .courses h2 {
  font-size: 1em;
  width: 80%;
}
section.techs .education .courses div {
  width: 200px;
  padding: 10px 20px;
  border: 1px solid #576ee0;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
section.techs .education .courses div:hover {
  background: #576ee0;
  transition: background 0.2s;
  color: #fff;
}

section.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
section.services .top {
  text-align: center;
}
section.services .top h1 {
  font-size: 2em;
}
section.services .top h2 {
  color: #576ee0;
  font-weight: 400;
}
section.services .services-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
section.services .services-container .service {
  padding: 20px;
  background: #1d2135;
  border-radius: 10px;
  margin-top: 50px;
}
section.services .services-container .service .bx {
  font-size: 2em;
  color: #576ee0;
}
section.services .services-container .service h1 {
  color: #f1f1f1;
}
section.services .services-container .service button, section.services .services-container .service .btn {
  background: transparent;
  color: #576ee0;
}
section.services .services-container .service button:hover, section.services .services-container .service .btn:hover {
  background: #576ee0;
  color: #fff;
  transition: 0.3s;
}

section#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  width: 100vw;
}
section#portfolio .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
section#portfolio .top h1 {
  font-size: 2em;
}
section#portfolio .top h2 {
  font-weight: 400;
  color: #576ee0;
}
section#portfolio .works {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  justify-content: center;
  gap: 30px;
  width: 90%;
}
section#portfolio .works .work {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section#portfolio .works .work:hover .work-desc {
  height: 100%;
  transition: height 0.3s;
}
section#portfolio .works .work img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#portfolio .works .work .work-desc {
  position: absolute;
  background: rgba(22, 25, 39, 0.7019607843);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  bottom: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section#portfolio .works .work .work-desc h3 {
  width: 80%;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: #f1f1f1;
}
section#portfolio .works .work .work-desc p {
  text-align: center;
  width: 80%;
  color: #fff;
}

.hireBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.hireBox main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: #1d2135;
  border-radius: 20px;
  padding: 40px 0;
}
.hireBox main .left {
  width: 40%;
}
.hireBox main .left h1 {
  font-size: 1.5em;
}
.hireBox main .left h2 {
  font-weight: 400;
  font-size: 16px;
  color: #576ee0;
}
.hireBox main .left p {
  padding-bottom: 50px;
}
.hireBox main .left .btn {
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 50px;
  color: #161927;
}
.hireBox main .left .btn:hover {
  background: #576ee0;
  color: #f1f1f1;
  transition: 0.3s;
}
.hireBox main .right img {
  width: 400px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f1322;
  min-height: 50vh;
}
footer .top h2 {
  text-align: center;
  color: #576ee0;
  margin-top: -20px;
  font-weight: 400;
}
footer .top h1 {
  font-family: signature;
  font-size: 7em;
  font-weight: 400;
  color: rgb(255, 0, 0);
  margin-top: -20px;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social a {
  text-decoration: none;
}
footer .social a .bx {
  color: #f1f1f1;
  font-size: 2em;
  margin: 10px;
}
footer .foot {
  width: 100%;
  text-align: center;
}
footer .foot p {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: rgb(233, 233, 233);
}
footer .foot p .bx {
  color: rgb(255, 42, 42);
  padding: 10px;
}

.resume {
  text-align: center;
  margin-top: 20px;
}
.resume a {
  font-size: 5em;
}
.resume h1 {
  margin-top: 100px;
  font-size: 5em;
}

@-webkit-keyframes scroll-anim {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 30px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes scroll-anim {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 30px;
  }
  100% {
    margin-bottom: 0px;
  }
}
@-webkit-keyframes caret {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: rgb(191, 191, 191);
  }
}
@keyframes caret {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: rgb(191, 191, 191);
  }
}
@media screen and (max-width: 900px) {
  body.active header nav .menu {
    background: #161927;
  }
  body.active header nav .menu a {
    color: #fff;
  }
  body.active header nav .menu .bx {
    color: #fff;
  }
  header {
    position: relative;
  }
  header nav .bx-menu {
    display: block;
  }
  header nav .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 0;
    overflow: hidden;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 200;
  }
  header nav .menu .bx-x {
    display: block;
  }
  header nav .menu.active {
    width: 100vw;
  }
  header nav .menu.active a {
    color: rgb(70, 70, 70);
    font-size: 1.5em;
    margin: 0;
    margin-top: 20px;
  }
  header nav .menu.active .bxs-moon, header nav .menu.active .bx-sun {
    color: #161927;
    margin-top: 40px;
    font-size: 2em;
  }
  header .head {
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
  }
  header .head .left {
    width: 80%;
    flex-direction: column-reverse;
  }
  header .head .left .social {
    flex-direction: row;
    margin-top: 50px;
  }
  header .head .left .social a {
    font-size: 2em;
  }
  header .head .left .desc p {
    width: 350px;
  }
  header .head .right {
    width: 90%;
    margin-top: 50px;
  }
  header .head .right img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .head .scroll-btn {
    display: none;
  }
  section.techs .education {
    justify-content: center;
  }
  section.techs .education .courses div {
    width: 75%;
    margin-left: 0;
  }
  section.services .services-container .service {
    width: 80%;
  }
  .hireBox main .right img {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .hireBox main {
    width: 90%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hireBox main .left {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .hireBox main .left p {
    width: 90%;
    padding: 10px 20px;
  }
  .hireBox main .right {
    margin-top: 10px;
  }
  .hireBox main .right img {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  section#portfolio .works {
    grid-template-columns: repeat(auto-fit, 95%);
  }
  section#portfolio .works .work img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  section#portfolio .works .work .work-desc h3 {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */